.container.container__about {
    min-height: 500px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-top: 2px solid $secondary-color;
    border-bottom: none;
    padding: 0;
    position: relative;
    z-index: 1;
    width: 100%;

    @media screen and (min-width: 600px) {
        border-top: none;
        padding-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
        padding: pxToRem(25) pxToRem(30);
    }

    .about__wrapper {
        width: 100%;
        display: flex;
        align-items: start;

        .about__paragraph {
            width: 100%;

            @media screen and (min-width: 800px) {
                width: 50%;
            }
        }
    }

    .about__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 1000px;
        gap: 10px;
        padding-top: 40px;
        z-index: 2;
        order: 1;

        @media screen and (min-width: 1200px) {
            padding-top: 50px;
            order: 2;
        }

        h2 {
            display: inline-block;
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 30px;
            color:$secondary-color;
            @media screen and (min-width: 550px) {
                font-size: 40px;
            }
        }

        .question {
            text-align: justify;
            font-size: 20px;
            font-weight: 600;
            padding: 20px 20px 5px;
            line-height: 1.7;
            text-align: left;
            color: $primary-color;

            @media only screen and (min-width: 550px) {
                font-size: 20px;
                padding: 20px 40px 5px;
            }
        }

        .answer {
            text-align: left;
            font-size: 16px;
            font-weight: 400;
            padding: 0px 20px 15px;
            line-height: 1.7;
            color: $secondary-color;

            @media only screen and (min-width: 550px) {
                font-size: 20px;
                padding: 0px 40px 15px;
            }
        }
    }
}
