.contact__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: start;
    margin: 10px auto;
    max-width: 1600px;
    padding: 20px 10px;
    min-height: 400px;

    @media screen and (min-width: 550px) {
        flex-direction: row;
        padding: pxToRem(15) pxToRem(30);
        margin: 100px auto;
    }

    .contact__body {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: 550px) {
            flex-direction: row;
        }

        .contact__left {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-bottom: 20px;

            @media screen and (min-width: 550px) {
                width: 50%;
            }

            h2 {
                font-size: 35px;
                line-height: 1.2;
                font-weight: 600;
            }

            p {
                font-size: 18px;
                margin-top: 20px;
            }
        }

        .contact__right {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            @media screen and (min-width: 550px) {
                width: 50%;
            }

            input,
            textarea {
                padding: 8px;
                border: 1px solid $secondary-color;
                border-radius: 8px;
                max-width: 600px;
            }

            input::placeholder,
            textarea::placeholder {
                font-family: $font-base;
                font-size: 16px;
                color: $primary-color;
            }

            .btn {
                background: $primary-color;
                text-decoration: none;
                color: $base-color;
                width: 200px;
                padding: 12px 30px;
                border-radius: 25px;
                font-size: 18px;
                font-weight: 600;
                border: transparent;
                cursor: pointer;
                align-self: center;

                @media screen and (min-width: 600px) {
                    align-self: start;
                }
            }
        }

        .active {
            background-color: green;
            text-decoration: none;
            color: $base-color;
            width: 200px;
            padding: 12px 30px;
            border-radius: 25px;
            font-size: 18px;
            font-weight: 600;
            border: transparent;
            cursor: pointer;
        }

        p {
            text-align: center;
            font-size: 16px;
            min-height: 20px;

            @media screen and (min-width: 600px) {
                text-align: left;
            }
        }

        .error {
            color: rgb(158, 64, 64);
        }

        .success {
            color: green;
        }

        .required {
            color: orange;
        }
    }
}
