header {
    border-bottom: 1px solid lightgray;
    box-shadow: 0 5px 10px $base-color;
    width: 100%;
    margin: 0 auto;
    min-height: 70px;

    nav {
        width: 100%;
        max-width: 1600px;
        padding-top: pxToRem(10);
        padding-bottom: pxToRem(10);
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 900px) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }

    .nav__firstRow {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .logo__img {
        width: 200px;
        height: auto;
        margin-top: 10px;

        @media screen and (min-width: 900px) {
            width: 250px;
        }
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 2.5em;
        height: 2rem;
        cursor: pointer;

        span {
            height: 0.3rem;
            width: 100%;
            background-color: $primary-color;
            border-radius: 0.2rem;
        }

        @media screen and (min-width: 900px) {
            display: none;
        }
    }

    .close__img {
        width: 40px;
        height: auto;
        cursor: pointer;
        display: block;

        @media screen and (min-width: 900px) {
            display: none;
        }
    }

    .navbar__hamburger {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
        padding: 20px 0;

        &.open {
            display: flex;
        }

        @media screen and (min-width: 900px) {
            display: flex;
            width: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: end;
            gap: 15px;
            padding: 0;
        }

        .menu__link {
            text-decoration: none;
            font-size: 20px;
            line-height: 1.5;
            font-weight: 500;
            cursor: pointer;
            color: $secondary-color;
            background-color: transparent;
            border-radius: 10px;
            padding: 10px;
            width: 100%;
            display: flex;
            justify-content: end;
            text-align: center;
            &:last-child {
                background-color: $primary-color;
                color: $base-color;

                &:hover {
                    scale: 1.05;
                }
            }
            @media screen and (min-width: 900px) {
                width: 100%;
                min-width: 80px;
                align-items: center;
                justify-content: center;
            }
            &:hover {
                background-color: $primary-color;
                color: $base-color;
            }

            @media screen and (min-width: 900px) {
                width: auto;
                text-align: left;
            }
        }
    }
}
