.order__container {
    min-height: 500px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 5px solid $secondary-color;
    // box-shadow: 0 2px 10px $secondary-color;
    background-color: $primary-color;

    @media screen and (min-width: 750px) {
        background-image: none;
        background-color: $primary-color;
    }

    .order__big-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 20px;

        h2 {
            padding-top: 30px;
            font-size: 30px;
            font-weight: 600;
            padding-bottom: 20px;
            color: $base-color;

            @media screen and (min-width: 550px) {
                font-size: 40px;
            }
        }

        .order__box {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            gap: 50px;

            .links__box {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 20px;
                background-color: $primary-color;
                border-radius: 5px;
                flex-wrap: wrap;

                .link__box {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                    gap: 30px;
                    text-align: center;
                    min-height: 350px;
                    z-index: 1;
                    background-color: $base-color;
                    border-radius: 10px;
                    width: 400px;
                    margin-bottom: 10px;
                    box-shadow: $box-shadow;
                    padding: 10px;


                    a {
                        background: $primary-color;
                        text-decoration: none;
                        color: $base-color;
                        display: inline-block;
                        padding: 12px 40px;
                        border-radius: 25px;
                        font-size: 18px;
                        font-weight: 600;
                        // width: 80%;
                    }

                    h2,
                    p {
                        color: $primary-color;

                    }

                    h2 {
                        font-size: clamp(18px, 22px, 30px);
                        font-weight: bold;
                    }

                    p {
                        font-size: clamp(16px, 18px, 20px);
                        line-height: 1.3;
                    }
                }
            }
        }
    }
}