.survey-modal {
    max-width: min(90%, pxToRem(800));
    max-height: 90vh;
    overflow-y: auto;

    @media (max-width: pxToRem(480)) {
        max-height: 85vh;
        margin: pxToRem(20) pxToRem(10);
    }

    .survey-header {
        margin-bottom: toRem(20px);

        .progress-bar {
            width: 100%;
            height: pxToRem(4);
            background: rgba(255, 255, 255, 0.1);
            margin-bottom: pxToRem(10);
        }

        .progress {
            width: 50%;
            /* 1/6 for first step */
            height: 100%;
            background: $base-color;
            transition: width 0.3s ease;
        }

        .step-indicator {
            font-size: pxToRem(14);
            color: $base-color;
        }
    }

    .survey-step {
        display: flex;
        flex-direction: column;
        align-self: start;
        justify-content: start;
        gap: 20px;

        label {
            display: flex;
            flex-direction: column;
        }

        select,
        input[type='text'],
        input[type='email'],
        input[type='date'],
        input[type='tel'],
        textarea {
            width: 100%;
            padding: pxToRem(8);
            border: pxToRem(1) solid rgba(255, 255, 255, 0.1);
            background: rgba(255, 255, 255, 0.1);
            color: #ffffff;
            border-radius: pxToRem(4);
            min-height: 25px;
            font-size: 15px;
            margin-top: 5px;

            &::placeholder {
                color: #ffffff;
                font-family: $font-base;
                font-size: 16px;
            }

            @media (max-width: pxToRem(480)) {
                padding: pxToRem(12);
                font-size: pxToRem(16);
            }
        }
    }
}

.survey-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: pxToRem(20);

    @media (max-width: pxToRem(768)) {
        flex-direction: column;
        justify-content: start;
        gap: toRem(10px);
    }

    button {
        padding: pxToRem(10) pxToRem(20);
        border: none;
        font-family: 'Poppins-500', sans-serif;
        line-height: 1;
        border-radius: pxToRem(4);
        cursor: pointer;
        transition: background-color 0.3s ease;

        @media (max-width: pxToRem(768)) {
            width: 100%;
            padding: pxToRem(12);
            font-size: pxToRem(16);
        }
    }

    .prev-btn,
    .next-btn,
    .submit-btn {
        background-color: rgba(255, 255, 255, 0.1);
        color: #ffffff;
        transition: ease-in-out;

        &:hover {
            transform: scale(1.1);
            background-color: rgba(255, 255, 255, 0.3);
        }
    }
}
