$base-color: #fff;
$primary-color: hsl(16, 85%, 60%);
$muted-primary-color: hsl(14, 79%, 93%);
$secondary-color: hsl(25 25% 15%);
$third-color: hsl(25 25% 15%);
$background: hsl(35, 30%, 97%);
$muted-foreground: hsl(25, 15%, 45%);
$secondary-foreground: hsl(25, 25%, 15%);
