$base-color: #FFE6E6;
//$primary-color: #622b93;
$primary-color: #551a8b;
//$primary-color: #7469B6;
$secondary-color: #E1AFD1;
$third-color: #3f2ea6d1;
// $third-color: #AD88C6;


// rgb(255, 113, 184);
//#fee5f2